.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

@media (min-width: 800px) {
    .sidenav {
        display: none;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
    color: #fff !important;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000 !important;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar a {
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

// mat-sidenav {
//      background-color: #000000 !important;
//       color: #fff;
// }

@media (max-width: 800px) {
    .main-menu {
        display: none;
    }
}

.btncolor {
    color: #fff;
}

.btnmove {
    margin-left: 15px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 40px;
}

mat-toolbar .main-menu a {
    font-size: 13px !important;
    padding-right: 5px;
    padding-left: 5px;
}

mat-toolbar .main-menu a:hover {
    color: #d3d3d3;
}

.mat-toolbar .mat-toolbar mat-button {
    font-size: 13px !important;
}

.icon {
    font-size: 20px !important;
}

.cart {
    color: purple;
}