
<div class="container signup-spacing">
  <div class="row justify-content-md-center signup-form-spacing">
    <div class="col-md-4 mb-3">
      <mat-card class="example-card">
        <mat-card-content>
          <h1>Password Assistance</h1>
          <p>Enter the email address associated with your Ecommerce account</p>
        </mat-card-content>

        <mat-card-content>
          <p>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput />
            </mat-form-field>
          </p>

          <p>
            <button
              class="full-width"
              mat-raised-button
              color="primary"
              type="button"
            >
              Continue
            </button>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <app-mini-footer></app-mini-footer>
</div>
