.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.signup-spacing {
    margin-top: 30px;
}

.signup-title {
    font-size: 28px !important;
}

.full-width {
    width: 100%;
    margin-top: -10px;
}

.example-card mat-card-content {
    margin-bottom: 30px;
}

.signup-small {
    font-size: 12px;
    line-height: 1.5 !important;
    margin-top: 18px !important;
}

.signup-medium {
    font-size: 13px;
    line-height: 1.5 !important;
}

.login {
    margin-top: 48px !important;
}

.signup-form-spacing {
    margin-top: 10px;
}