body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  opacity: .15;
}

.loading-skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rectangular-div {
  width: 30%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  border: 1px solid #f3f3f3;
}

.menuCard {
  margin: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.elBg {
  background-color: #fff;
}

.addToCart {
  padding-bottom: 15px;
  border-top: 0.1rem solid #f1f1f1;
}

.root {
  position: relative;
  overflow: hidden;
}

.offcanvas {
  position: absolute;
  top: 0;
  bottom: 0;
}

.offcanvas-start {
  left: 0;
}

.offcanvas-end {
  right: 0;
}

.form-check-input {
  width: 2em;
  height: 2em;
  border-radius: 100% !important;
  background-color: #efefef;
  border-color: #e5e0e0
}

.form-check-input:checked {
  width: 2em;
  height: 2em;
  border-radius: 100% !important;
  background-color: #21c579;
  border-color: #f7a2;
}