body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  opacity: .15;
}

.loading-skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rectangular-div {
  width: 30%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  border: 1px solid #f3f3f3;
}

.menuCard {
  margin: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.elBg {
  background-color: #fff;
}

.addToCart {
  padding-bottom: 15px;
  border-top: 0.1rem solid #f1f1f1;
}

.root {
  position: relative;
  overflow: hidden;
}

.offcanvas {
  position: absolute;
  top: 0;
  bottom: 0;
}

.offcanvas-start {
  left: 0;
}

.offcanvas-end {
  right: 0;
}

.form-check-input {
  width: 1.7em;
  height: 1.7em;
  border-radius: 100% !important;
  background-color: #efefef;
  border-color: #e5e0e0
}

.form-check-input:checked {
  width: 1.7em;
  height: 1.7em;
  border-radius: 100% !important;
  background-color: #168c55;
  border-color: #f7a2;
}

.btn-sm {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.offcanvas-body {
  overflow-y: visible
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-height: 50%
}

.small,
small {
  font-size: .75em
}

.qtyButtonStyle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border: 1px solid #dee2e6;
  width: 2rem;
  height: 2rem;
}

.btn-success {
  --bs-btn-bg: #407c54;
}


@media (max-width: 992px) {
  .offcanvas {
    margin: 75% auto;
    overflow: auto;
    min-height: 96vh;
  }

}


@media (min-width: 992px) {
  .offcanvas {

    max-width: 50%;
    margin: 12% auto;
    overflow: auto;
    min-height: 96vh;
  }
}

.modal-footer {
  justify-content: center;
}

.small,
small {
  font-size: .6em;
}

.btn-light {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;

}