@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: '"sans-serif", Helvetica Neue',
);

@include angular-material-typography($custom-typography);
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
