name: CI for restaurant

on:
  pull_request:
    branches: [development, main, release]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: ci for backend
        working-directory: ./backend
        run: |
          npm i
          npm run build
          npm test
          npm run test:cov
      - name: ci for frontend
        working-directory: ./frontend
        run: |
          npm i
          npm run build
          npm run test-ci
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
