name: CI for restaurant

on:
  pull_request:
    branches: [sprint, main]
  push:
    branches: [sprint, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            ./backend/node_modules
            ./frontend/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - name: ci for backend
        working-directory: ./backend
        run: |
          npm i
          npm run build
          npm run test:unit
          npm run test:cov
      - name: ci for frontend
        working-directory: ./frontend
        run: |
          npm i
          npm run build
      - name: lint backend
        working-directory: ./backend
        run: |
          npm run format
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
