name: CI for restaurant

on:
  push:
    branches: [development, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: ci for backend
        working-directory: ./backend
        run: |
          npm ci
          npm run build
          npm test
          npm test:cov
      - name: ci for frontend
        working-directory: ./frontend
        run: |
          npm ci
          npm run build
          npm run test-ci
