<div class="e-divider-inner"></div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="d-flex justify-content-between">
      <div class="p-2 bd-highlight e-normal-link">
        <a href="#">Condition of Use</a>
      </div>
      <div class="p-2 bd-highlight e-normal-link">
        <a href="#">Privacy Notice</a>
      </div>
      <div class="p-2 bd-highlight e-normal-link"><a href="#">help</a></div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center e-year">
  ©2020, Copyright, the Ecommerce Company
</div>
